/*
@说明：单元块的位置变化使用 transition. 开启了resize 重绘功能，此css 才有意义，此文件完全可以不使用。
*/

.woo{
transition: top 1s ease-out,left 1s ease-out;
-webkit-transition: top 1s ease-out,left 1s ease-out;
-moz-transition: top 1s ease-out,left 1s ease-out;
-o-transition: top 1s ease-out,left 1s ease-out;
}


